.grid {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.grid .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid .item img {
    max-width: 100%;
    transform: scale(1);
    transition: 0.3s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid .imagem-box {
    overflow: hidden;
    position: relative;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}

.grid .imagem-box .botao {
    position: absolute;
    border: 1px solid #fff;
    padding: 5px 20px;
    background: #00000082;
    color: #fff;
    bottom: -500px;
    transition: all ease 0.5s;
    z-index: 99;
    opacity: 0;
}

.grid .imagem-box:hover .botao {
    bottom: initial;
    opacity: 1;
    transition: all ease 0.5s;
}

.grid .item img:hover {
    transform: scale(1.1);
}

.grid .item h1 {
    margin: 15px 0;
    font-size: 18px;
}

.grid .item h1 a {
    color: #000;
    transition: 0.3s;
}

.grid .item h1 a:hover {
    color: #007bff;
    text-decoration: none;
}

.grid .autor {
    display: flex;
    align-items: center;
}

.grid .autor a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.grid .autor a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid .autor p {
    margin-bottom: 0;
    margin-left: 10px;
    color: #8a8a8a;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.grid .resumo-conteudo p {
    color: #8a8a8a;
    font-size: 14px;
}

/* Destaque */

.grid .destaque h1 a {
    font-size: 25px;
}

.grid .destaque a.imagem-box {
    height: 350px;
    width: 100%;
}

.grid .destaque .autor a {
    width: 55px;
    height: 55px;
}

.tag-category {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.politics {
    color: #ff1632;
}

.science {
    color: #8ec452;
}

.sports {
    color: #f8bd5b;
}

.grid.secundaria {
    grid-template-columns: repeat(3, 1fr);
    border: none;
}

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid.secundaria {
        grid-template-columns: repeat(2, 1fr);
    }
    .destaque {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .grid .destaque a.imagem-box {
        width: 100%;
    }

    .grid .destaque img {
        max-width: inherit;
        width: 100%;
    }
    .grid .destaque a.imagem-box {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .grid.secundaria {
        grid-template-columns: 1fr;
    }
    .destaque {
        grid-column-start: 1;
        grid-column-end: 1;
    }
}
